<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bookDao" class="com.lgypro.dao.impl.BookDaoImpl"/>
    <bean id="orderDao" class="com.lgypro.factory.OrderDaoFactory" factory-method="getOrderDao"/>

    <bean id="userDaoFactory" class="com.lgypro.factory.UserDaoFactory"/>
    <bean id="userDao" factory-bean="userDaoFactory" factory-method="getUserDao"/>
    <bean id="userDao2" class="com.lgypro.factory.UserDaoFactoryBean"/>
</beans>